{{- if .Values.postgres.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: retail-app
spec:
  replicas: {{ .Values.postgres.replicaCount }}
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: "{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}"
        imagePullPolicy: "{{ .Values.postgres.image.pullPolicy }}"
        env:
        - name: POSTGRES_PASSWORD
          value: "{{ .Values.postgres.postgresPassword }}"
        ports:
        - containerPort: {{ .Values.postgres.containerPort }}
{{- end }}

